# Entornos virtuales
.venv/
venv/
ENV/
env/

# Caché uv
.uv_cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.python-version

# Variables de entorno
.env
.env.local
.env.shared

# Distribución y empaquetado
dist/
build/
*.egg-info/
*.egg

# Logs y archivos temporales
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyright_cache/

# Output
/results/
/preprocess/

# Modelo YOLO
/dataset/
/images/
